<launch>
  <arg name="gui" default="true" />
  <arg name="physics" default="ode" />
  <arg name="use_rviz" default="true" />
  <arg name="use_gui" default="false" />

  <!-- load scene in gazebo -->
  <include file="$(find jsk_hsr_startup)/launch/hsr_gazebo_bringup.launch">
    <arg name="world" value="$(find my_hsr_demo)/worlds/table_can.world" />
    <arg name="use_rviz" value="$(arg use_rviz)" />
    <arg name="use_gui" value="$(arg use_gui)" />
  </include>
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
  <!--   <arg name="gui" value="$(arg gui)" /> -->
    <!-- <arg name="paused" value="true" /> -->
    <!-- <arg name="world_name" value="$(find jsk_2020_04_chahakobi)/worlds/table.world" /> -->
  <!--   <arg name="physics" value="$(arg physics)" /> -->
  <!-- </include> -->
  <!-- <include file="$(find pr2_gazebo)/launch/pr2.launch"> -->
  <!--   <arg name="KINECT1" value="true" /> -->
  <!--   <arg name="KINECT2" value="false" /> -->
  <!-- </include> -->

  <!-- <node name="kinect_throttled_points" pkg="topic_tools" type="throttle" -->
  <!--       args="messages /head_mount_kinect/depth_registered/points 5.0 /kinect_head/depth_registered/throttled/points"> -->
  <!--   <rosparam> -->
  <!--     lazy: true -->
  <!--   </rosparam> -->
  <!-- </node> -->

</launch>
